*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}
h1{
    text-align:center;
    padding:0.5rem;
}
h6{
    text-align: right;
    margin-right:10px;
    margin-top:8px;
}

body,main{
background: rgb(228, 58, 58);
    height:100vh;
    width:100vw;
}
#mainContainer{
    display:flex;
    flex-direction:column;
}
#content{
    height:100vh;
background: linear-gradient(135deg, #e0eafc 0%, #cfdef3 100%);
    overflow-y: auto;
}
#content>div{
    display:inline-block;
    background: #f5efef;
    text-align: center;
   margin-left:1rem;
   margin-top:1rem;
    height:150px;
    width:150px;
    border:1px solid rgb(79, 80, 79);
    border-radius:10px;
    border:none;
    transform:translateY(0);
    transition:transform 0.4s;
}
#content>div:hover{
    transform: translatey(-10px);
}
p{
 font-size: 1.2rem;
}
section{
    position: fixed;
    height:100vh;
    width:100vw;
    background:rgba(53, 53, 53, 0.7);
    z-index: 1000;
    visibility: hidden;
    background:rgba(200, 200, 200, 0.9);
}
section>.displayDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
section>.displayDiv>img{
     image-rendering: pixelated;
    margin-top: 2rem;
    height:250px;
    width:250px;
}
section>.displayDiv>p{
    margin-top:2rem;
}
section>button{
    font-size:1rem;
    padding:2rem;
    margin-right:10px;
    background: transparent;
    color:whitesmoke;
    border:none;
    transition:box-shadow 0.6s;
}
section>button:hover{
    box-shadow:0 5px 16px whitesmoke;
}
.infoDiv{
    font-size: 1.5rem;
    padding:1.5rem;
    text-align:center;
    border:none;
    border-radius:10px;
    box-shadow:0 4px 16px rgba(0,0,0,0.15);
    background: #d6d4d4;
    height:45vh;
    width:75vw;
}
.infoDiv>p{
    margin-top:1rem;
    margin-right:1rem;
    padding:0.5rem 1rem;
    margin-bottom:1rem; 
}
.infoDiv>ul{
    margin-bottom:0.5rem;
    text-align: inherit;
    list-style-type: none;
}
